.container {
  border-radius: 0.3125rem;
  background-color: var(--color-gray-50);
  color: var(--color-gray-750);
  
  display: flex;
  flex-direction: column;
  
  margin: 1rem auto 0 auto; 
  padding: 1.5rem;
  max-width: 37.5rem;
  width: 100%;

  header {
    h1 {
      font-size: 1.5rem;
    }

    small {
      margin: 0.25rem 0 0.75rem;
      display: block;
    }
  }

  form {
    width: 100%;
    .formGroup {
      width: 100%;
      span {
        font-size: 0.875rem;
        margin: 0.25rem 0;
        display: block;
      }
    }

    button {
      margin-top: 0.75rem;
    }
  }
}