.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--color-gray-950);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.75rem;

  button {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--color-gray-750);
    display: block;
    transition: 0.3s;
    cursor: pointer;
    background: transparent;
    border: none;
    text-align: center;
    
    &:hover {
      color: var(--color-gray-50);
    }
  }

  a {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--color-gray-750);
    display: block;
    transition: 0.3s;
    
    &:hover {
      color: var(--color-gray-50);
    }
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 1.5rem;
    font-size: 2.25rem;
    margin-left: 3.125rem;
  }

  &.opened {
    width: 15.625rem;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 1rem;}
  .sidenav a {font-size: 10.5rem;}
}
